{% capture url %}{{ site.url }}{{ page.url }}{% endcapture %}
{% capture status %}{{ page.title }}
{{ url }}{% endcapture %}

<a href="{{ page.url }}">Permalink</a>
<a title="Share on Twitter" href="https://twitter.com/home?status={{ status | cgi_escape }}">Twitter</a>
<a title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ url | cgi_escape }}">Facebook</a>
<a title="Share on LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&url={{ url | cgi_escape }}&title={{ page.title | cgi_escape }}">LinkedIn</a>
