{% capture url %}{{ site.url }}{{ page.url }}{% endcapture %}
{% capture status %}{{ page.title }}

{{ url }}{% endcapture %}

<a href="{{ page.url }}">Permalink</a>
<a title="Share on X" href="https://x.com/intent/tweet?text={{ status | cgi_escape }}">X</a>
<a title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ url | cgi_escape }}">Facebook</a>
<a title="Share on LinkedIn" href="https://www.linkedin.com/sharing/share-offsite/?url={{ url | cgi_escape }}&title={{ page.title | cgi_escape }}">LinkedIn</a>
