{% capture url %}{{ site.url }}{{ page.url }}{% endcapture %}
{% capture status %}{{ page.title }}
{{ url }}{% endcapture %}

<a href="{{ page.url }}">Permalink</a>
<a title="Share on Twitter" href="https://twitter.com/home?status={{ status | uri_escape }}">Twitter</a>
<a title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ url | uri_escape }}">Facebook</a>
<a title="Share on Google+" href="https://plus.google.com/share?url={{ url | uri_escape }}">Google+</a>
<a title="Share on LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&url={{ url | uri_escape }}&title={{ page.title | uri_escape }}">LinkedIn</a>
