$foreground: #a5a5a5;
$background: #000000;
$title: #d2691e;
$section: #98fb98;
$emphasis: #eedd82;
$link: #00ffff;
$code: #ff00ff;
$dark: #111111;
$faint: #666666;

$indentation: 30px;

@mixin faint-highlighting($color, $swap: false) {
    padding: 2px 4px;
    border-radius: 4px;

    $color1: darken(desaturate($color, 40%), 0%);
    $color2: darken(desaturate($color, 40%), 45%);

    @if $swap {
        color: $color2;
        background: $color1;
    } @else {
        color: $color1;
        background: $color2;
    }
}

html {
    // REMs are relative to this
    font-size: 16px; // needed for <code>
}

body {
    font-family: Montserrat, sans, sans-serif;
    color: $foreground;
    background: $background;
    overflow-x: hidden;
    margin: 0;
}

#container {
    padding: 0 10px;
    box-sizing: border-box;
}

h1 {
    color: $title;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    color: $section;
}

p, li, dd, dt {
    text-align: justify;
    line-height: 1.618em;
}

strong {
    color: $emphasis;
}

a:link, a:visited {
    @include faint-highlighting($link);
    font-weight: bold;
}

a:hover, a:active {
    @include faint-highlighting($link, true);
    font-weight: bold;
    text-decoration: none;
}

code {
    @include faint-highlighting($code);
}

a code {
    color: inherit;
    background: none;
}

pre {
    font-size: 0.85rem;
    background: $dark !important;
    padding: 10px;
    overflow-x: auto;
}

blockquote {
    $marker-width: 5px;
    $half: $indentation / 2 - $marker-width / 2;

    border-left: $marker-width solid $title;
    margin-left: $half;
    padding-left: $half;
    margin-right: $half;
    font-style: italic;
    color: $faint;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: $dark;
}

::-webkit-scrollbar-thumb {
    background: $title;
}

// lists

dl {
    dt {
        color: $emphasis;
        font-weight: bold;
        margin-top: 10px;
    }
    dd {
        margin-left: $indentation;
    }
}

%common-list {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding-left: 0;
    list-style: none;
    counter-reset: item;

    li {
        counter-increment: item;
        display: table-row;

        &::before {
            display: table-cell;
            box-sizing: border-box;
            width: $indentation;
            padding-right: 10px;
            color: $emphasis;
            text-align: right;
        }
    }
}

ol {
    @extend %common-list;

    li::before {
        content: counter(item) ".";
    }
}

ul {
    @extend %common-list;

    li::before {
        content: "#";
    }
}
