---
---

@import 'common';

h1 {
    font-size: 2.5rem;
    margin-bottom: 50px;
}

h2 {
    font-size: 2rem;
}

a:link {
    font-size: 1.1rem;
}

$one-column-width: 600px;
$two-column-width: 1100px;
$two-column-width-large: 1500px;

$hard-swap-margin: 100px;

@media (max-width: $one-column-width - 1) {
    p, dd {
        text-align: left;
    }
}

@media (min-width: $one-column-width) {
     body {
        margin: 0 auto;
        width: $one-column-width;
     }

     article {
         section > p, section > dl {
             padding-left: 40px;
         }
     }
}

@media (min-width: $two-column-width) {
    body {
        width: $two-column-width - $hard-swap-margin;
    }

    article {
        column-count: 2;
        column-gap: 10px;

        section {
            break-inside: avoid;
        }

        // no margin for the first section
        section:first-child h2 {
            margin-top: 0;
        }
    }
}

@media (min-width: $two-column-width-large) {
    body {
        width: $two-column-width-large - $hard-swap-margin;
    }
}
