---
---

@import 'common';

h1 {
    font-size: 2.5rem;
    margin: 30px 0;
}

h2 {
    font-size: 2rem;
}

a {
    display: inline-block;
    font-size: 1.1rem;
}

// no margin for the first section
#container .section:first-child h2 {
    margin-top: 0;
}

// do not wrap the date in the post list
table.post-list td:first-child {
    white-space: nowrap;
}

$one-column-width: 600px;
$two-column-width: 1100px;
$two-column-width-large: 1500px;

$hard-swap-margin: 100px;

@media (max-width: $one-column-width - 1) {
    p, dd {
        text-align: left;
    }
}

@media (min-width: $one-column-width) {
    #container {
        width: $one-column-width;
        margin: 0 auto;

        .section {
            & > * {
                margin-left: 40px;
            }

            & > h2 {
                margin-left: 0;
            }
        }
    }
}

@media (min-width: $two-column-width) {
    #container {
        width: $two-column-width - $hard-swap-margin;
        column-count: 2;
        column-gap: 10px;

        .section {
            break-inside: avoid;
        }
    }
}

@media (min-width: $two-column-width-large) {
    #container {
        width: $two-column-width-large - $hard-swap-margin;
    }
}
