---
---

@import 'common';
@import 'monokai';

// footnotes

%link-outline {
    outline: auto $link;
}

.footnotes {
    font-size: 0.8rem;
    margin-top: 200px;

    ol {
        list-style: none;
        padding-left: 0;
        counter-reset: item;

        li {
            counter-increment: item;
            padding: 10px;

            p {
                margin: 0;
                text-indent: 10px;
            }
        }

        li:target {
            @extend %link-outline;
        }

        li::before {
            float: left;
            color: $emphasis;
            font-weight: bold;
            margin-right: 5px;
            content: counter(item);
        }
    }
}

a.footnote {
    margin: 5px;
}

sup:target a.footnote {
    @extend %link-outline;
}

// code blocks

// reset <code> in code blocks
.highlight code {
    color: inherit;
    background: none;
    padding: 0;
    border-radius: 0;
}

// layout

$column-width: 800px;

@media (min-width: $column-width) {
    body {
        margin: 0 auto;
        width: $column-width;
    }
}
