---
---

@import 'common';
@import 'monokai';

// header and footer

%bar {
    padding: 10px;
    background: $dark;
    color: $title;
    text-align: center;

    & > a {
        display: inline-block;
    }
}

#header {
    @extend %bar;
    border-bottom: 1px solid $title;
}

#footer {
    @extend %bar;
    border-top: 1px solid $title;
}

// footnotes

%link-outline {
    outline: auto $link;
}

.footnotes {
    font-size: 0.8rem;
    margin-top: 200px;

    li:target {
        @extend %link-outline;
    }
}

sup {
    line-height: 0;
    font-size: 62.5%;

    a.footnote {
        margin: 2px;
    }

    &:target a.footnote {
        @extend %link-outline;
    }
}

// code blocks

// reset <code> in code blocks
.highlight code {
    color: inherit;
    background: none;
    padding: 0;
    border-radius: 0;
}

// layout

$column-width: 800px;

@media (min-width: $column-width) {
    #container {
        margin: 0 auto;
        width: $column-width;
    }
}
