---
---

@import 'common';

#post-info {
    text-align: right;
    font-size: 0.8rem;
    color: $faint;
}

table#advisory-header {
    margin: 0 auto;
    border-spacing: 0.75em 0.25em;
    word-break: initial;

    thead {
        // XXX hack needed by kramdown to hide the table head when it is only
        // used to set the column alignment
        display: none;
    }
}

// permalink on headings

h2, h3, h4, h5, h5 {
    .permalink {
        margin-left: 0.5em;
        text-decoration: none;
        visibility: hidden;

        &::before {
            content: "\00b6";
        }
    }

    &:hover {
        .permalink {
            visibility: visible;
        }
    }
}

// footnotes

%link-outline {
    outline: auto $link;
}

.footnotes {
    font-size: 0.8rem;
    padding-top: 100px;
    position: relative;

    p {
        margin: 0.5em;
        margin-left: 0;
    }

    li:target {
        @extend %link-outline;
    }

    &::before {
        display: block;
        background: $accent;
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: 0;
        right: 0;
    }
}

sup {
    line-height: 0;
    font-size: 0.625rem;

    a.footnote {
        margin: 0 0.2em;
        text-decoration: none;

        &::before {
            content: "[";
        }

        &::after {
            content: "]";
        }
    }

    &:target a.footnote {
        @extend %link-outline;
    }
}

// code blocks

// reset <code> in code blocks
.highlight code {
    color: inherit;
    background: none;
    padding: 0;
    border-radius: 0;
}

// hide download label for screen media
.download-label {
    display: none;
}

// layout

$column-width: 1000px;

@media (min-width: $column-width) {
    #container {
        margin: 0 auto;
        width: $column-width;
    }
}
