---
---

body {
    font-family: sans, sans-serif;
    font-size: 10pt;
}

h1 {
    text-align: center;
}

p, li, dd, dt {
    text-align: justify;
}

a:link, a:visited {
    color: #000000;
}

dd {
    margin-bottom: 2.5mm;
}

pre {
    white-space: pre-wrap;
    word-break: break-all;
    padding: 4pt;
    border: 1pt solid #000000;
}

table {
    margin: 0 auto;
}

#header, #footer, #post-info, .permalink {
    display: none;
}

.footnotes {
    font-size: 80%;
    margin-top: 1cm;

    ol {
        padding-inline-start: 2em;
    }
}

a[download] {
    display: none;
}
