<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{{ page.title }}</title>

        {% if page.description %}
        <meta name="description" content="{{ page.description }}">
        {% endif %}

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@{{ site.author.x }}">
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:image" content="{{ site.url }}/assets/img/icon.png">
        {% if page.description %}
        <meta property="og:description" content="{{ page.description }}">
        {% endif %}

        {% feed_meta %}

        <link rel="icon" href="/assets/img/icon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
        <meta name="theme-color" content="#000000">

        {% if page.url == '/' %}
        <meta name="google-site-verification" content="J_T5kCVuZ5ozqh-8M5pSi1GQzxv1dGYOuDoCP6TQsuU">
        {% endif %}

        <link rel="stylesheet" href="/assets/css/{{ page.layout }}.css" type="text/css" media="screen"/>
        <link rel="stylesheet" href="/assets/css/print.css" type="text/css" media="print"/>
    </head>
    <body>
        {{ content }}
        <div id="footer">
            {% include copyright.md %}
        </div>
    </body>
</html>
