---
layout: common
---

<div id="header">
    <a href="/">Home</a>
    #
    {% include share.html %}
</div>

<div id="container">
    <h1>{{ page.title }}</h1>
    <div id="post-info">{{ site.author.name }} — {{ page.date | date_to_long_string }}</div>
    {% if page.advisory %}
    {% capture advisory_header %}
    {%- include advisory-header.md -%}
    {% endcapture %}
    {{ advisory_header | markdownify }}
    {% endif %}
    {{ content }}
</div>

<script>
 // add permalink on headings
 document.querySelectorAll('h2, h3, h4, h5, h5').forEach((heading) => {
     const link = document.createElement('a');
     link.className = 'permalink';
     link.href = `#${heading.id}`;
     heading.appendChild(link);
 });

 // add download links (add the following after the block {: download="filename.ext"})
 document.querySelectorAll('div[download]').forEach((node) => {
     const name = node.getAttribute('download');
     const blob = new Blob([node.innerText]);
     const span = document.createElement('span');
     span.className = 'download-label';
     span.appendChild(document.createTextNode(name));
     node.prepend(span);
     const a = document.createElement('a');
     a.setAttribute('href', URL.createObjectURL(blob));
     a.setAttribute('download', name);
     a.appendChild(document.createTextNode(name));
     node.prepend(a);
 });
</script>
